body {
    background-color: blanchedalmond;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
.wrapper {
    width: 800px;
    margin: 50px auto;
    color: peru;
    text-align:center;
    }
  
  h1 {
    color: palevioletred;
    margin-left: 20px;
    font-size: 3.0em
  }

  button{
    border-radius: 8px;
    background: peru;
    color:white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size:20px;
    padding:18px;
    width:180px;
    margin: 15px;
  }

  #seconds, #tens  {
      font-size: 50px;
  }